*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    outline: none;
}
ul li {
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

#main{
    width: 100%;
    height: 100vh;
    background: #149b56;
}

.one {
    width: 100%;
    height: 100vh;
    background: #e22222;
    display: flex;
    align-items: center;
    justify-content: center;
}
.two {
    width: 100%;
    height: 100vh;
    background: #a0c313;
}
.three {
    width: 100%;
    height: 100vh;
    /* background: #250ba9; */
}
#box1{
    width: 300px;
    height: 200px;
    background: #000;
    position: absolute;

}

model-viewer {
    width: 200px; /* Make the model fill its container */
    height: 400px; /* Make the model fill its container */
  }
  .four {
    width: 100%;
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
  }
  .four img {
    width: 300px;
    height: 200px;
  }
  .object {
    position: absolute;
    top: 0;
  }
  .igm1{
    top: 0;
    left: 10%;
  }
  .igm3{
    top: 30%;
    left: 30%;
  }
  .igm2{
    top: 50%;
    left: 0%;
  }
  .igm4{
    top: 50%;
    left: 60%;
  }
  .cursor{
    position: absolute;
    margin: 0 auto;
    pointer-events: none;
    border-radius: 50%;
    transform:translate(-50%, -50%);
    transition:all .3s ease;
    transition-property: background,transform;
    transform-origin: 100% 100%; 
    z-index: 999;
 }
 